@model CinemaApp.Models.HallMovie

@{
    ViewData["Title"] = "Delete";
}

<h1>Confirmare Ștergere</h1>

<h3>Sigur dorești să ștergi această alocare film-sală?</h3>
<div>
    <h4>Alocare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Film
        </dt>
        <dd class="col-sm-10">
            @Model.Movie?.Title
        </dd>
        <dt class="col-sm-2">
            Sală
        </dt>
        <dd class="col-sm-10">
            @Model.Hall?.HallName
        </dd>
        <dt class="col-sm-2">
            Dată început
        </dt>
        <dd class="col-sm-10">
            @Model.StartDate.ToString("dd.MM.yyyy HH:mm")
        </dd>
        <dt class="col-sm-2">
            Dată sfârșit
        </dt>
        <dd class="col-sm-10">
            @Model.EndDate.ToString("dd.MM.yyyy HH:mm")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="HallId" />
        <input type="hidden" asp-for="MovieId" />
        <input type="submit" value="Șterge" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Renunță</a>
    </form>
</div>
